.container {
  background: #fff;
}

.container > section {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

.container > section > ul {
  height: 3rem;
}

.itemContainer > a {
  color: #364350;
  font-weight: 400;
  padding: 0.5rem;
  margin-right: 2rem;
}

.itemContainer a:global(.b--action-primary) {
  border-bottom-color: #364350;
}

.firstLevelLink {
  font-weight: 500;
  text-transform: uppercase;
}

.secondLevelLink {
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
