.headerRow--topbar {
  border-bottom: 1px solid #dce6f1;
}

.headerRow--main {
  background: #FFF;
  border-bottom: 2px solid #dce6f1;
}

.headerRow--main nav [class*='flex-row'], .headerRow--mobile-main nav [class*='flex-row'] {
  flex-wrap: wrap;
}

.headerRow--main nav li [class*='t-body'] {
  display: inline-block;
  font-size: 0.9rem;
  vertical-align: text-top;
}

.headerRow--main nav li [class*='t-body']:hover, .headerRow--main nav nav li [class*='t-small']:hover {
  padding-bottom: 0;
  border-bottom: 2px solid #183b56;
}

.headerRow--main nav li [class*='pv4'] {
  padding: 0 0 0.75rem;
  border: 2px solid #dce6f1;
  border-top: none;
}

.headerRow--main nav nav li [class*='t-small'] {
  display: block;
  padding-bottom: 2px;
  white-space: nowrap;
}

.topMenuContainer,
.container > div > section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container > div > div:global(.bb.bw1.b--muted-4) {
  display: none;
}

@media screen and (max-width: 640px) {
  .headerRow--mobile-main section {
    padding: 0.5rem 0;
    border-top: 2px solid #dce6f1;
    border-bottom: 2px solid #dce6f1;
  }
  .headerRow--mobile-main nav [class*='flex-row'] li {
    width: 57%;
  }
  .headerRow--mobile-main nav [class*='flex-row'] li:nth-child(odd) {
    width: 43%;
  }
  .headerRow--mobile-main nav [class*='flex-row'] li [class*='mh6 pv5'] {
    padding: 0.3rem 0;
    margin: 0 0.5rem;
  }
  .headerRow--mobile-main nav [class*='flex-row'] li [class*='nowrap'] {
    white-space: normal;
    font-size: 0.9rem;
  }
}
