.container {
  overflow: inherit;
  padding: 0.5rem;
}

.element {
  padding: 1rem;
  box-shadow: 0px 3px 7px #e2e2e2;
}

.nameContainer {
  padding: 0;
}

.nameContainer span {
  font-size: 1rem;
}

.priceContainer {
  padding: 0.5rem 0 0;
}

.priceContainer div[class*='t-body'] {
  font-weight: 500;
  font-size: 1.5rem;
}

.description {
  border: 1px solid #dce6f1;
  border-width: 1px 0;
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: #3f4245;
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
}

.buyButton button[class*="vtex-button"] {
  width: 100%;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9rem;
}
