.headerRow--topbar {
  border-bottom: 1px solid #dce6f1;
}

.headerRow--main {
  background: #FFF;
  border-bottom: 2px solid #dce6f1;
}

.headerRow--main nav li [class*='t-body'] {
  font-size: 0.9rem;
  vertical-align: text-top;
}

.headerRow--main nav li [class*='pv4'] {
  padding: 0 0 0.75rem;
}

.headerRow--main nav nav li [class*='t-small'] {
  white-space: nowrap;
}

.topMenuContainer,
.container > div > section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container > div > div:global(.bb.bw1.b--muted-4) {
  display: none;
}

@media screen and (max-width: 640px) {
  .headerRow--mobile-main section {
    padding: 0.5rem 0;
    border-top: 2px solid #dce6f1;
  }
  .headerRow--mobile-main nav [class*='flex-row'] {
    flex-wrap: wrap;
  }
  .headerRow--mobile-main nav [class*='flex-row'] li {
    width: 50%;
  }
  .headerRow--mobile-main nav [class*='flex-row'] li [class*='mh6 pv5'] {
    padding: 0.5rem 0;
    margin: 0 1rem;
  }

}
