/* Safe to remove this rule after we publish the buyButton class in store-components */
.flexRow--buybutton [class*='vtex-button'] {
  height: 48px;
  font-weight: 600;
  text-transform: capitalize;
}

.flexRow--homeBannerGrid {
  margin-top: 3rem;
}

.flexRow--homeBannerGrid > section {
  padding: 0;
}

.flexRow--homeBannerGrid > section > div {
  background: #f7f7f7;
  padding: 4rem 2rem;
}

.flexRow--footerGrid-1 {
  margin: 2rem 0;
}

.flexRow--footerGrid-1 .flexCol nav [class*='t-body c-muted-1'] {
  font-size: 0.9rem;
}

.flexRow--footerGrid-1 .flexCol--footer-categories nav, .flexRow--footerGrid-1 .flexCol--footer-institucional nav {
  margin-bottom: 1.5rem;
}

.flexRow--footerGrid-2, .flexRow--footerGrid-3 {
  background: #e7eef5;
}

.flexCol--footer-promotions nav li {
  padding: 0.5rem 0;
  margin-left: 1.5rem;
  border-bottom: 1px solid #e7ecf0;
}

.flexCol--footer-promotions nav li > * {
  margin-left: 0;
}

.flexCol--footer-promotions nav li:last-child {
  border: none;
}

.flexRow--footerGrid-2 div[class*='w-100']:nth-child(3) {
  width: auto;
}

.flexRow--footerGrid-2 div[class*='w-100']:nth-child(4) {
  width: auto;
  margin-left: 2rem;
}

.flexRow--footerGrid-2 nav ul {
  justify-content: flex-end;
}

.flexRow--footerGrid-2 nav li [class*='t-body'] {
  font-size: 0.75rem;
  line-height: 1.4rem;
}


@media screen and (max-width: 800px) {
  .flexRow--homeBannerGrid [class*='mw9 center'] [class*='flex-none'] {
    flex-wrap: wrap;
  }
  .flexRow--footerGrid-1 [class*='mw9 center'] [class*='flex-none'] {
    flex-wrap: wrap;
  }
  .flexRow--footerGrid-1 [class*='mw9 center'] [class*='flex-none'] [class*='w-100'] {
    width: 33%;
  }
  .flexRow--footerGrid-1 [class*='mw9 center'] [class*='flex-none'] [class*='w-100'] [class*='nowrap'] {
    white-space: normal;
  }
  .flexRow--footerGrid-1 [class*='mw9 center'] [class*='flex-none'] [class*='w-100'] > * {
    padding: 0;
  }
  .flexRow--footerGrid-1 .flexCol--footer-categories nav, .flexRow--footerGrid-1 .flexCol--footer-institucional nav, .flexRow--footerGrid-1 .flexCol--footer-promotions nav {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .flexRow--footerGrid-1 [class*='mw9 center'] [class*='flex-none'] [class*='w-100'] {
    width: 100%;
  }
  .flexRow--footerGrid-2 nav ul {
    justify-content: center;
  }
  .flexRow--footerGrid-2 nav ul [class*='mh6 pv5'] {
    padding: 0 0 0.5rem;
    margin: 0 0.5rem;
  }
  .flexRow--footerGrid-2 div[class*='w-100']:nth-child(4) {
    width: auto;
    margin: 0;
  }
}
