.container {
  grid-template-columns: 230px repeat(4, auto) 306px;
  -ms-grid-columns: 230px (1fr)[4] 306px;
}

@media screen and (min-width: 640px) {
  .filters > * {
    background: #fafafa;
    padding: 1rem;
    margin-top: 1rem;
  }
}

.filter {
  border: none;
}

.filter [class*='overflow-y-auto'] > div {
  height: auto !important;
}

.filterIcon {
  display: none;
}

.filterTitle {
  color: #2f4e66;
}

.filterContent {
  padding-top: 0.5rem;
}

.filterContent a {
  display: block;
  padding: 0.3rem 0;
}

.filterContent a span {
  color: #404851;
}

.resultGallery {
  margin-bottom: 4rem;
}

.gallery {
  margin-right: 0;
}

.galleryItem {
  padding: 0;
}

.orderBy {
  margin-right: 1rem;
}
